<div class="start-page">
  <header>
    <div class="text-container">
        <div class="title">OverEat</div>
    </div>
    <div class="line"></div>
    <div class="image-container">
        <img src="/images/header.gif">
    </div>
  </header>

  <div class="container_mouse" onclick="scrollToGreet()">
      <span class="mouse-btn">
          <span class="mouse-scroll"></span>
      </span>
      <span>Scroll Down</span>
  </div>
</div>

<h2 class="greet m-4" style="text-align: center;">
  {{userInSession.greet}}
  {{userInSession.username}}
</h2>

<ul class="list-group mt-4 p-4" style="list-style: none;">
  {{#each restaurants}}
    <li class="mb-3" style="cursor: pointer;">
      <a href="/restaurants/{{_id}}" class="text-decoration-none">
        <div class="card border-dark shadow">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="{{image}}"
                alt="{{name}} Image"
                class="img-fluid rounded"
              />
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h2 class="card-title">{{name}}</h2>
                <p class="card-text">{{address}}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </li>
  {{/each}}
</ul>

<script>
  function scrollToGreet() {
    var targetElement = document.querySelector('.greet');

    targetElement.scrollIntoView({ behavior: 'smooth' });
  }
</script>