<div style="margin-top: 150px; padding: 20px">
  {{#if userInSession}}
  <head>
    <h2>This is your page, {{userInSession.username}}!</h2>
  </head>
  <body>
    <p>
      name:
      {{userInSession.username}}<br />
      Id:
      {{userInSession._id}}<br />
    </p>

    <p>eMail: {{userInSession.email}}</p><br />
    <p>
      Role:
      {{userInSession.role}}<br />
    </p>
    <p>
      Adress:<br />
      Country:
      {{userInSession.country}}<br />
      City:
      {{userInSession.city}}<br />
    </p>
  </body>

  <form action="/manager/courier/{{userInSession._id}}/edit" method="POST">
    <button>Edit {{userInSession.username}} account</button>
  </form>

  <form
    action="/manager/courierMain/{{userInSession._id}}/delete"
    method="POST"
  >
    <button class="btn btn-primary">Delete
      {{userInSession.username}}
      account</button>
  </form>
  {{else}}
    <h2>Smth. not correct!</h2>
  {{/if}}
</div>