{{#if userInSession}}

  <form
    action="/manager/courier/{{userInSession._id}}/edit"
    method="post"
    class="form-control mb-3 form-horizontal"
  >
    <h2>Edit Courier:
      {{userInSession.username}}</h2>
    <label>
      name:
      <input
        class="form-control mb-3"
        type="text"
        name="fullname"
        value="{{userInSession.username}}"
      />
    </label>

    <label>
      eMail:
      <input
        class="form-control mb-3"
        type="text"
        name="email"
        value="{{userInSession.email}}"
      />
    </label>

    <label>
      Country:
      <input
        class="form-control mb-3"
        type="text"
        name="country"
        value="{{userInSession.country}}"
      />
    </label>

    <label>
      City:
      <input
        class="form-control mb-3"
        type="text"
        name="city"
        value="{{userInSession.city}}"
      />
    </label>

    <button class="btn btn-primary" type="submit">Save changes for
      {{userInSession.username}}</button>
  </form>

{{else}}

  <br /><p>Still no logged in user, sorry!</p>

{{/if}}