<ul class="list-group" style="list-style: none;">
  {{#each customers}}
    <li class="mb-3">
      <a class="text-decoration-none">
        <div class="card border-dark shadow">
          <div class="row g-0">
            <div class="col-md-9">
              <div class="card-body">

                <form
                  class="card-text"
                  action="/manager/managerMain/customerList/{{_id}}/delete"
                  method="POST"
                >
                  <button
                    class="btn btn-danger float-end"
                    style="margin-bottom: 10px;"
                  >Delete customer</button>
                </form>
                <h2 class="card-title">Username: {{username}}</h2>
                <p class="card-text">Id: {{_id}}</p>
                <p class="card-text">eMail: {{email}}</p>
                <p class="card-text">Role: {{role}}</p>
                <p>Adress:
                  {{street}}
                  {{housenumber}}
                  -
                  {{postcode}}
                  {{city}}
                  {{country}}
                </p>
                <p>Order history:</p>
                <ul>
                  {{#each order}}
                    <li>{{this.name}}</li>
                  {{/each}}
                </ul>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </a>
    </li>
  {{/each}}
</ul>