<div style="margin-top: 150px; margin-left: 30px;">
  <h1>Restaurant management</h1>
  {{#if userInSession}}
  <head>
    <h2>This is your page, {{userInSession.username}}!</h2>
  </head>
  <body>
    <p>
      name:
      {{userInSession.username}}<br />
      Id:
      {{userInSession._id}}<br />
    </p>

    <p>eMail: {{userInSession.email}}</p><br />
    <p>
      Role:
      {{userInSession.role}}<br />
    </p>
    <p>
      Adress:<br />
      Country:
      {{userInSession.country}}<br />
      City:
      {{userInSession.city}}<br />
    </p>
  </body>

  <a href="/manager/managerMain/createRestaurant">Create new restaurant</a>
  <br />
  <a href="/manager/managerMain/restaurantList">Restaurant list</a>
  <br />
  <a href="/manager/managerMain/managerCreate">Create new Manager</a>
  <br />
  <a href="/manager/managerMain/managerList">List of all Managers</a>
  <br />
  <a href="/manager/managerMain/courierCreate">Create new Courier</a>
  <br />
  <a href="/manager/managerMain/courierList">List of all Couriers</a>
  <hr />

  <form action="/manager/{{userInSession._id}}/edit" method="POST">
    <button>Edit {{userInSession.username}} account</button>
  </form>

  <form
    action="/manager/managerMain/{{userInSession._id}}/delete"
    method="POST"
  >
    <button>Delete {{userInSession.username}} account</button>
  </form>

  {{else}}

    <br /><p>You need to login to access this page!</p>

  {{/if}}

</div>