<div class="row justify-content-center" style="margin: 150px 0 40px 0;">
  <div class="col-md-6 center-div">
  {{#if userInSession}}
  <form
    action="/customer/{{userInSession._id}}/edit"
    method="post"
    class="form-horizontal m-3"
  >
    <h2 style="padding: 20px">Edit Customer: {{userInSession.username}}</h2>
    <label>
      eMail:
      <input
        class="form-control mb-3"
        type="text"
        name="email"
        value="{{userInSession.email}}"
      />
    </label>

    <label>
      Fullname:
      <input
        class="form-control mb-3"
        type="text"
        name="fullname"
        value="{{userInSession.fullname}}"
      />
    </label>

    <label>
      Street:
      <input
        class="form-control mb-3"
        type="text"
        name="street"
        value="{{userInSession.street}}"
      />
    </label>

    <label>
      Housenumber:
      <input
        class="form-control mb-3"
        type="text"
        name="housenumber"
        value="{{userInSession.housenumber}}"
      />
    </label>

    <label>
      Postcode:
      <input
        class="form-control mb-3"
        type="text"
        name="postcode"
        value="{{userInSession.postcode}}"
      />
    </label>

    <label>
      City:
      <input
        class="form-control mb-3"
        type="text"
        name="city"
        value="{{userInSession.city}}"
      />
    </label>

    <label>
      Country:
      <input
        class="form-control mb-3"
        type="text"
        name="country"
        value="{{userInSession.country}}"
      />
    </label>

    <button class="btn btn-primary" type="submit">Save changes for
      {{userInSession.username}}</button>
  </form>

  {{else}}

    <br /><p>Still no logged in user, sorry!</p>

  {{/if}}
  </div>
</div>